

/* Body 
------------------------------------- */
body {
		background: url("../img/slide1.jpg");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
}
.dashboard{
  background-color: #DEC775;
}

h3,h2, h1{
  font-weight: bold;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h3 {
  color: #ffa400;
  font-size: 16px;
  letter-spacing: 26px;
  letter-spacing: 2px;
}


/* home section styles
/* ========================================== */
#home {
  background: url('../images/home-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

#home .btn-danger {
  background: #ffa400 !important;
  margin-right: 20px;
}

#home .btn-danger:hover {
  background: #ffc400 !important;
}

#home .btn {
  background: #000000;
  border-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 52px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: #ffa400;
}
.panel-heading{
  background-image: linear-gradient(#04519b, #044687 60%, #033768);
  color: #fff !important;
}
header{
  background-image: linear-gradient(#04519b, #044687 60%, #033768);
  color: #fff;
  min-height: 200px;
  padding-top: 25px;
}

#long{
  height:300px !important;
}

#file{
  display:inline;
  float:left;
}

#label{
  display:inline;
  float:left;
}


